

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at top, #2a1a4d, #0b0b0b);
  font-family: 'MedievalSharp', cursive;
  color: #fff;
}

.card {
  background: linear-gradient(145deg, #3e1f5f, #1b0f2b);
  border: 2px solid #8c4dff;
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 0 25px #8c4dff, 0 0 50px #6a2eff inset;
  text-align: center;
  max-width: 450px;
  position: relative;
 
}



input {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #8c4dff, #d17aff);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px #8c4dff;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 25px #d17aff;
  transform: scale(1.05);
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 10px #ffffff41;
}
